*{
margin:0;
padding: 0;
}

body{

}
.cabecaclho {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    margin: 0 16px;

}

#logalura {
    width: 20;

}

.lista-itens{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
    
}

#programa {
    
}